.forecast-box {
    margin:auto;
    width: 380px;
    padding:10px;
    background:#303134;
    border-radius:5px;
    font-size: 1.3em;
}

table {
    border-collapse: collapse;
    margin:0 auto;
    margin-bottom:20px;
}

table caption {
    margin:5px;
    font-weight:bold;
}
  
td {
    padding: 7px;
    border: solid white 1px;
}