.weather-box {
    position: relative;
    width:195px;
    height:80px;
    display:inline-block;
    margin:5px;

    background:#303134;
    font-size:1.8em;
    border-radius:5px;

    overflow:hidden;
}